In [42]:
from undetected_chromedriver import Chrome, ChromeOptions
from selenium.webdriver.common.by import By

from time import sleep

from pandas import DataFrame

In [43]:
chrome_options = ChromeOptions()
chrome_options.add_argument("--headless")
driver = Chrome(options=chrome_options)

In [44]:
driver.get("https://etherscan.io/accounts/1?ps=100")
sleep(3)

In [45]:
rows = driver.find_elements(By.TAG_NAME, "tr")
len(rows)

101

In [46]:
top_address = DataFrame(columns=list(map(lambda x: x.text, rows[0].find_elements(By.TAG_NAME, "th"))))
top_address

Empty DataFrame
Columns: [Rank, Address, Name Tag, Balance, Percentage, Txn Count]
Index: []

In [47]:
for row in rows[1:]:
	idx = len(top_address)
	top_address.loc[idx] = list(map(lambda x: x.text, row.find_elements(By.TAG_NAME, "td")))
top_address

,Rank,Address,Name Tag,Balance,Percentage,Txn Count
0,1,0x00000000219ab540356cbb839cbe05303d7705fa,Eth2 Deposit Contract,"9,016,818.000069 Ether",7.63659460%,"175,651"
1,2,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,Wrapped Ether,"7,701,505.75126144 Ether",6.52261998%,"5,124,500"
2,3,0xda9dfa130df4de4673b89022ee50ff26f6ea73cf,Kraken 13,"2,113,030.001 Ether",1.78958403%,64
3,4,0xbe0eb53f46cd790cd13851d5eff43d12404d33e8,Binance 7,"1,996,008.34511594 Ether",1.69047513%,"1,037"
4,5,0x73bceb1cd57c711feac4224d062b0f6ff338501e,,"1,980,156.57510949 Ether",1.67704982%,444
...,...,...,...,...,...,...
95,96,0x2faf487a4414fe77e2327f0bf4ae2a264a776ad2,FTX Exchange,"148,218.11582035 Ether",0.12553006%,"3,264,459"
96,97,0xd57479b8287666b44978255f1677e412d454d4f0,,"147,699.4245034 Ether",0.12509076%,4
97,98,0x4baf012726cb5ec7dda57bc2770798a38100c44d,,"145,000.09839497 Ether",0.12280463%,7
98,99,0x199e929999f984a01853bb64588ddfa5d2307c1c,,"143,791.44883488 Ether",0.12178099%,2
99,100,0x99e77c64f4364e1563557fef77cb268bb000e29d,,"141,323.65496029 Ether",0.11969094%,13

In [48]:
top_address.set_index('Rank', inplace=True)
top_address

,Address,Name Tag,Balance,Percentage,Txn Count
Rank,,,,,
1,0x00000000219ab540356cbb839cbe05303d7705fa,Eth2 Deposit Contract,"9,016,818.000069 Ether",7.63659460%,"175,651"
2,0xc02aaa39b223fe8d0a0e5c4f27ead9083c756cc2,Wrapped Ether,"7,701,505.75126144 Ether",6.52261998%,"5,124,500"
3,0xda9dfa130df4de4673b89022ee50ff26f6ea73cf,Kraken 13,"2,113,030.001 Ether",1.78958403%,64
4,0xbe0eb53f46cd790cd13851d5eff43d12404d33e8,Binance 7,"1,996,008.34511594 Ether",1.69047513%,"1,037"
5,0x73bceb1cd57c711feac4224d062b0f6ff338501e,,"1,980,156.57510949 Ether",1.67704982%,444
...,...,...,...,...,...
96,0x2faf487a4414fe77e2327f0bf4ae2a264a776ad2,FTX Exchange,"148,218.11582035 Ether",0.12553006%,"3,264,459"
97,0xd57479b8287666b44978255f1677e412d454d4f0,,"147,699.4245034 Ether",0.12509076%,4
98,0x4baf012726cb5ec7dda57bc2770798a38100c44d,,"145,000.09839497 Ether",0.12280463%,7
99,0x199e929999f984a01853bb64588ddfa5d2307c1c,,"143,791.44883488 Ether",0.12178099%,2
100,0x99e77c64f4364e1563557fef77cb268bb000e29d,,"141,323.65496029 Ether",0.11969094%,13

In [49]:
driver.quit()